1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [ ]:
a = [b for b in range(100)]
for i in range(1,100):

 if i%3 > 0 and i%5 > 0: 
    print(i) 
    a[i] = i
    print(a[i])
 elif    i%3 == 0 and i%5==0:
    print("Mickeymouse") 
    a[i] = "Mickeymouse"
    
 elif  i%3 == 0:
    print("Mickey") 
    a[i] = "Mickey"
    
 elif  i%5 == 0:
    print("Mouse") 
    a[i] = "Mouse"
    
for y in range(1,100):
    if a[y] == "Mouse":
        a[y] = "Duck"
    elif a[y] == "Mickey":
        a[y] = "Donald"
    elif a[y] == "Mickeymouse":
        a[y] = "DonaldDuck" 
    
    
    
d = tuple(a)
print(d[5])
print(d[15])

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [ ]:
def swap(b,c):
    result = (c,b)
    return result

a = swap("Andrea", "Scanu")
print(a)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
import math

def dist(a,b):
    result = math.sqrt((a[0]-b[0])**2 + (a[1]-b[1])**2)
    return result
a=(3,0)
b=(0,4)
   
dist(a,b)

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"



def count(a):
    s = a.upper()
    c = 0
    for i in range(0,len(s)):
        for b in range(0,len(s)):
            if s[i] == s[b]:
                c = c+1
        print("The") 
        print(i+1)
        print("Character")
        print(a[i])
        print("has been used in the string")
        print(c)
        print("times.")
        
        c=1 
count(s)

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
m = [1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,3,4,5,6]

def conta(p):
    
    contare = 0
    unique = [0 for i in range(0,len(p))]
    for i in range(0,len(p)):
        c = [0 for i in range(0,len(p))]
        for j in range(0,len(p)):
            if p[i] == p[j]:
                c[j]=1
        if sum(c) == 1:
                contare = contare +1
                unique[contare -1] = p[i]
                
   
    unique2 = [unique[i] for i in range(0,contare)]
    print("The unique numbers are:")          
    print(unique2)
    print("There are ")
    print(contare)
    print("unique numbers.")
            
           

                
          
conta(l)

In [ ]:
" esercizio 6 "

def sq(a):
    return a**2
def cube(b):
    return b**3

def fifth(f):
    return cube(f)*sq(f)

fifth(3)

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [ ]:
cubi =[]
for i in range(0,10):
    cubi.append(i**3)

list = [x**3 for x in range(0,10)]

print(list)

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [3]:
import random
list = []

for i in range(1,100):
    for j in range(1,i):
        for k in range(1,j):
            if k**2 + j**2 == i**2:
                list.append((i,j,k))


print(list)
print(len(list))

[(5, 4, 3), (10, 8, 6), (13, 12, 5), (15, 12, 9), (17, 15, 8), (20, 16, 12), (25, 20, 15), (25, 24, 7), (26, 24, 10), (29, 21, 20), (30, 24, 18), (34, 30, 16), (35, 28, 21), (37, 35, 12), (39, 36, 15), (40, 32, 24), (41, 40, 9), (45, 36, 27), (50, 40, 30), (50, 48, 14), (51, 45, 24), (52, 48, 20), (53, 45, 28), (55, 44, 33), (58, 42, 40), (60, 48, 36), (61, 60, 11), (65, 52, 39), (65, 56, 33), (65, 60, 25), (65, 63, 16), (68, 60, 32), (70, 56, 42), (73, 55, 48), (74, 70, 24), (75, 60, 45), (75, 72, 21), (78, 72, 30), (80, 64, 48), (82, 80, 18), (85, 68, 51), (85, 75, 40), (85, 77, 36), (85, 84, 13), (87, 63, 60), (89, 80, 39), (90, 72, 54), (91, 84, 35), (95, 76, 57), (97, 72, 65)]
50

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]


t = tuple(l)

def fun(p):
    lista =[]
    for i in range(0,len(p)):
        lista.append(p[i]/p[i])
    h = tuple(lista)
    return h

a = fun(t)
print(a)